<h1>Login or Create an account</h1>
<%= link_to 'Login', new_user_path %>
<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this account?' } %></td>
      
    </tr>
  <% end %>
</table>
<%= link_to 'Home', controller: 'stock' %>